<div id="mydiv" class="d-none">
    <div class="lightboxcontainer"><img class="wpgmza-embedded-media"
            src="https://inmu.mx/wp-content/uploads/2022/09/PruebaPlano.png">
            <div class="row iconsTipologia">
                <div class="col centerTipologia"> <i class="inmuIcon inmuHabitaciones"></i>
                    <p class="iconosText">4</p>
                </div>
                <div class="col centerTipologia"> <i class="inmuIcon inmuBaños"></i>
                    <p class="iconosText">3</p>
                </div>
                <div class="col centerTipologia"> <i class="inmuIcon inmuMetros"></i>
                    <p class="iconosText">180</p>
                </div>
                <div class="col centerTipologia"> <i class="inmuIcon inmuEstacionamiento"></i>
                    <p class="iconosText">5</p>
                </div>
                <div class="col centerTipologia"> <i class="inmuIcon inmuAntiguedad"></i>
                    <p class="iconosText">3 años</p>
                </div>
            </div>
    </div>
</div>

<div id="btnTipologias"><a id="tipologias" href="#mydiv" data-thumbnail="#mydiv" class="wplightbox btn btn-primary"
        data-group="gallery0">Tipologias</a>
</div>

<a href="#mydiv2" data-thumbnail="https://inmu.mx/wp-content/uploads/2022/07/Saqqara8.png" class="wplightbox d-none"
    data-group="gallery0"></a>